{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer: {{customer.name}} </h5>
            <hr>
            <a class="btn btn-outline-info btn-sm btn-block mt-1" href="#">Update Customer</a>

            <a href="{% url 'accounts:create_order'  customer.id %}" class="btn btn-outline-success btn-sm btn-block mt-3">Place new order</a>
        </div>

    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information:</h5>
            <hr>
            <p>Email: {{ customer.email }}</p>
            <p>Phone: {{ customer.phone }}</p>
            
        </div>

    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Total Orders:</h5>
            <hr>
            <h1 style="text-align:center;padding:10px">{{ total_orders }}</h1>
            
        </div>

    </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="GET">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="label" >Products</label>
                            {% render_field myFilter.form.product class="form-select sm" %}
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="label" >Status</label>
                            {% render_field myFilter.form.status class="form-select sm" %}
                        </div>
                    </div>

                    <div class="col-md-2 mt-4">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                    </div>
                </form>
        </div>

    </div>
    
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <tr>
                        <th>Products</th>
                        <th>Category</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.product.category }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                            <td> <a href="{% url 'accounts:update_order' order.id  %}" class='btn btn-success btn-sm' >Update</a> </td>
                            <td> <a href="{% url 'accounts:delete_order' order.id  %}" class='btn btn-danger btn-sm' >Delete</a> </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
    
</div>

{% endblock %}