<style>
  .user-login-feed {
    font-size: 15px;
    color: #FFF;
    padding-right: 5px;
    margin-right: 20px;
    text-decoration: none;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="logo">CMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:home' %}">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:products' %}">Products</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:user' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:user_settings' %}">Settings</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% if request.user.is_staff %}
      <span class="user-login-feed">Hello, {{request.user.username}}
    {% else %}
    <span class="user-login-feed">Hello, {{request.user.customer.name}}
    {% endif %}
      <span ><a class="user-login-feed" href="{% url 'accounts:logout' %}">Logout</a></span>
    </span>
  </nav>