{% extends 'accounts/signup_login_base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="col-sm-5" >
        <div class="card-body" id="register-right-side-content">
            <br>
            <h3 class="card-title mb-4">Sign Up</h3>
            <hr style="background-color: #000000;width: 100%;">
            <div class="form-group">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">Username</label>
                        {% render_field form.username type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" %}
                    </div>

                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        {% render_field form.email type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" %}
                    </div>

                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        {% render_field form.password1 type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password" %}
                        <small  class="form-text text-black-50">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain emoji.
                        </small>
                    </div>

                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">Confirm password</label>
                        {% render_field form.password2 type="password" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Confirm password" %}
                    </div>
                    <button type="submit"  class="btn btn-primary">Sign Up</button>
                </form>
            </div>
            <p>Already have an account?
                <a href="{% url 'accounts:login' %}">Login</a>
            </p>
        </div>
    </div>
{% endblock %}
