<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Total-Orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                <h5 class="card-title"> {{ total_orders }} </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="Orders-Delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                <h5 class="card-title"> {{ delivered }} </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="Orders-Pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                <h5 class="card-title"> {{ pending }} </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white bg-info mb-3">
                <div class="card-header">
                    <h5 class="card-title">Out For Delivery</h5>
                </div>
                <div class="card-body">
                <h5 class="card-title"> {{ out_for_delivery }} </h5>
                </div>
            </div>
        </div>
    </div>
</div>