{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
    img{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto; 
        border-radius: 50%;
    }

</style>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-outline-dark" href="{% url 'accounts:user' %}">&#8592; Back</a>
            </div>
            <hr style="background-color: #000000; margin:auto; margin-top: 15px;">
            <br>
            <h5 class="card-title text-center">{{request.user.customer.name}}</h5>
            <br>
            {% if request.user.customer.profile_pic %}
                <img src="{{ request.user.customer.profile_pic.url }}" class="img-fluid" alt="100x100">
            
            {% else %}
                <img src = "{% static 'images/default-user-image.png' %}" class="img-fluid">
            {% endif %}
        </div>
    </div>

    <div class="col-md-5">
        <div class="card card-body">
            <h5 class="card-title">Account Details</h5>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-1">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    {% render_field form.name type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" %}
                </div>

                <div class="mb-1">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    {% render_field form.email type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" %}
                </div>

                <div class="mb-1">
                    <label for="exampleFormControlInput1" class="form-label">Phone</label>
                    {% render_field form.phone type="text" class="form-control" id="exampleFormControlInput1" placeholder="Phone" %}
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Profile Pic</label>
                    {% render_field form.profile_pic type="file" class="form-control" id="formFile" placeholder="Choose file" label="" %}
                    
                </div>
                <button type="submit"  class="btn btn-primary">Save</button>
            </form>
        
        
        </div>
    </div>
</div>

<br>
{% endblock %}